<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Axios -->
  <script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
  <!-- Vue -->
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <title>Vue Email List</title>
</head>
<body>
  <div id="app">
    <!-- Vue -->
    <ol v-if="emailArray.length === 10">
      <li v-for="email in emailArray">{{email}}</li>
    </ol>
    <span v-else>Loading...</span>
  </div>

  <script src="js/script.js"></script>
</body>
</html>